*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: Cabinet-regular;
  src: url(../Fonts/CabinetGrotesk-Regular.ttf);
}

@font-face {
  font-family: Cabinet-bold;
  src: url(../Fonts/CabinetGrotesk-Bold.ttf);
}

@font-face {
  font-family: Cabinet-medium;
  src: url(../Fonts/CabinetGrotesk-Medium.ttf);
}

header{
  height: 100vh;
  width: 100vw;
}

html{
  overflow-x: hidden;
 font-family: cabinet-regular;
}

nav{
  width: 100%;
  height: 130px;
  padding: 30px 100px;
  Display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo{
  font-family: cabinet-bold;
  font-size: 35px;
}

.main-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav li{
  list-style: none;
  position: relative;
  margin-right: 80px;
  font-size: 20px;
}

.main-nav li a{
  text-decoration: none;
}

.reg{
  text-decoration: none;
  padding: 15px 25px;
  background-color: #28D201;
  border: 1px solid transparent;
  border-radius: 50px;
  color: #fff;
}

.main-nav li .faq{
  color: #000;
}

.main-nav li .faq span{
  font-family: cabinet-bold;
  font-size: 27px;
}

.reg:hover{
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  transition: 0.5s;
}

.hero-text-box{
  /* border: 1px solid #000; */
  width: 704.27px;
  position: relative;
  top: 80px;
  left: 100px;
}

.hero-text-box h1{
  /* font-family: cabinet-bold; */
  font-size: 55px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.hero-text-box p{
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.headsection{
  background-color: #000;
  height: 50%;
  width: 100vw;
  margin-top: 188px;
  color: #fff;
  padding: 100px 100px;
  display: flex;
  justify-content: space-between;
}

.headsection2{
  position: relative;
  bottom: 100px;
}

.headsection h3{
  font-family: cabinet-medium;
  font-size: 50px;
}

.headsection h1{
  font-size: 120px;
  font-family: cabinet-medium;
  letter-spacing: 5px;
}

.headregisterbtn{
  text-decoration: none;
  padding: 25px 45px;
  background-color: #28D201;
  border: 1px solid transparent;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.headregisterbtn:hover{
  border: 1px solid #fff;
  background-color: transparent;
  transition: 0.3s ease-in-out all;
}

.aboutsection{
  height: 100vh;
  width: 100vw;
}

.aboutsection1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 100px;
  background-color: #000;
  width: 100vw;
  height: 55%;
}

.aboutsection1 h1{
  color: #28D201;
  font-size: 70px;
  letter-spacing: 3px;
}

.abouttext{
  color: #fff;
  float: right;
  font-size: 23px;
  width: 1000px;
  letter-spacing: 1px;
}

.aboutsection2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 100px 100px; */
  /* background-color: #28D201; */
  width: 100vw;
  /* height: 45%; */
  text-align: center;
}

.aboutsection2 .scs{
  font-size: 40px;
  letter-spacing: 5px;
}
